CLOUDFLARE_TUNNEL_TOKEN=""
CONTAINER_RESTART="unless-stopped"
DUMMY_PRINTER="True"
ENVIRONMENT="DEV" # DEV or PROD
LOG_LEVEL="INFO"
LOG_LEVEL_BLEAK="ERROR"
LOG_LEVEL_PYINSTAXBLE="DEBUG"
PRINTER_ADDRESS=""
PRINTER_NAME=""
PRINTING_ENABLED="False"
