:root {
  --main: #FFFFFF;
  --shadow: #DDDDDD;
  --ink: #472836;
  --ink-faded: #7b6971;
  --accent-0: #A288E3;
  --accent-1: #EB5160;
  --accent-1-faded: #ec9ba3;
  --accent-1-dark: #9d3641;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--ink);

	font: 16px/1.55 system-ui, -apple-system, "Segoe UI", sans-serif;
  letter-spacing: -0.02em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px;
}

h1 {
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  font-size: 1.75rem;
  font-weight: 700;
}

button {
  margin: 0.4rem;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;

  min-width: 7em;

  background: var(--accent-1);
  color: var(--main);
  border: none;
  border-radius: 1em;

  font-size: 0.8rem;
}

button:active {
  background-color: var(--accent-1-dark);
}

button:disabled {
  color: var(--main);
  background-color: var(--accent-1-faded);
}

@keyframes dropFadeIn {
  from {
    opacity: 0%;
    transform: translateY(-20px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    transform: scale(0.95);
  }

  to {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes spin {
  to {transform: rotate(360deg) }
}

div#background {
  position: absolute;
  top: 0px;
  left: 0px;
  align-self: baseline;
  overflow:  hidden;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

div#background::after {
  position: absolute;
  top: -50vh;
  left: -50vw;
  content: '';
  display: block;
  height: max(200vh, 200vw);
  width: max(200vh, 200vw);
  z-index: -1;

  background:  linear-gradient(var(--accent-0), var(--main), var(--accent-1));
  animation: spin linear 60s infinite;
}

div#centerTape {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FFFFFF;

  min-width: 450px;
  min-height: 450px;
  width: 55vw;
  height: 100vh
}

div#centerTapeContent {
  display: flex;
  flex-direction: column;

  max-width: 46rem;

  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 70px;
  margin-right: 20px;
}

div#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 2rem;
}

div#header > * {
  flex-grow: 1;
}

div#headerLeft {
  display: flex;
  flex-direction: row;
  align-items: start;
}

div#headerCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div#headerRight {
  display: flex;
  flex-direction: row;
  align-items: end;
}

div#frameContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  min-width: 300px;
  min-height: 400px;
  width: 300px;
  height: 400px;

  padding: 20px;
  background: var(--main);
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--shadow);

  animation: dropFadeIn ease-in-out 500ms;
}

div#cropperContainer {
  width: 100%;
  height: 90%;
  background: var(--shadow);
  margin: 10px;
  box-shadow: inset 3px 3px 10px #CCCCCC;
}

div#controlBar {
  display: flex;
  flex-direction: row;
}


button#imageSelect {
  box-sizing: content-box;
  padding: 0px;
}

label#imageSelect {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;

  color: var(--main);
  font-size: 0.8rem;
}

cropper-canvas {
  width: 100%;
  height: 100%;

  animation: fadeIn ease-in-out 500ms;
}

cropper-selector {
  height: 62%;
  width: 46%;
}